body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    color: rgb(130, 128, 128);
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-areas:
        'a a a'
        'nav nav nav'
        'c c c'
        'c c c'
        'foot foot foot';
}

header {
    height: 75vh;
    grid-area: a;
    display: flex;
    justify-content: flex-end;
    background: url('../gettyimages-702628255-2048x2048.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

nav {
    grid-area: nav;
}

header .container {
    color: white;
    margin: 10%;
}
header .container span {
    color: #e6c073;
    font-size: 10rem;
}

main {
    grid-area: c;
    background-color: whitesmoke;
}

main .container {
    margin: 30px;
}

.navbar {
    font-size: 1rem;
}
.navbar li {
    padding: 0 100px 0 100px;
    margin: 0 10px 0 10px;
    border-right: solid 3px;
}
.navbar li:nth-child(4) {
    padding: 0 100px 0 100px;
    margin: 0 10px 0 10px;
    border: none;
}

.content {
    margin: 40px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
}

.content > img {
    border: solid 5px #cb3b3b;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.2s ease-in-out;
}
.content > img:hover {
    filter: drop-shadow(20px 10px 0.5rem rgba(73, 73, 73, 0.979));
}

body::-webkit-scrollbar {
    width: 0.7rem;
}

body::-webkit-scrollbar-track {
    width: 0.02rem;
    background: whitesmoke;
}
body::-webkit-scrollbar-thumb {
    background-color: #90a4ae;
    border-radius: 6px;
}

footer {
    grid-area: foot;
    overflow: hidden;
    line-height: 20px;
    color: rgb(161, 161, 161);
    background: rgb(52, 58, 64);
    height: 300px;
}

footer .kaynak {
    position: relative;
    top: 100px;
    left: 100px;
}
